.tutor-course-content-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #FFF;
    transition: background-color 300ms ease-in;
}